body{
    width: 100vw;
}

h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.apropos-cont{
    justify-content: center;
    padding: 4rem;
    width: 100vw;
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}
.apropos-cont * {
    color: #1e2429;
}

.apropos-cont *{
    text-align: justify;
}

.apropos-cont p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

a{
    color: #fff;
}

.invers-p{
    text-align: end;
}

.apropos-cont-night *{
    color: #fff !important;
}

@media screen and (max-width: 1000px) {
    .apropos-cont{
        padding: 80px 1rem 1rem 1rem;
    }
    .apropos-cont p{
        font-size: .9rem;
        line-height: 1.2rem;
    }
    h1{
        font-size: 1.5rem;
    }
}