* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: rgb(235, 235, 235);
    font-family: 'Rubik', serif;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
}



/* HEADER */

.header-container{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 90px;
    background: linear-gradient(90deg, rgba(46, 67, 87, 0.678) 0%, rgba(53, 89, 94, 0.678) 100%);
    display: flex;
    padding: 10px 50px;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 5px solid rgb(255, 255, 255);
}

/* HEADER SEARCH */

.header-search{
    padding-top: 3px;
}

.reverse-back{
    margin-left: 3px;
    border-radius: 0.5rem;
    background-color: rgb(75, 85, 100);
    transition: all 0.2s ease-in-out;
}

.reverse-checked{
    background-color: rgb(245, 245, 245) !important;
}

.reverse-checked .button-reverse{
    filter: invert(22%) sepia(11%) saturate(1597%) hue-rotate(159deg) brightness(98%) contrast(86%) !important;
}

.button-reverse{
    transition: all 0.2s ease-in-out;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    filter: invert(100%) sepia(1%) saturate(6313%) hue-rotate(173deg) brightness(95%) contrast(96%);

}

.cont-searchbar{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.searchbar {
    width: 500px;
    height: 50px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.searchbar:focus {
    border: 3px solid #3e5766;
}

.searchbar:focus::placeholder  {
    color: rgb(187, 187, 187);
}

.nb-result{
    user-select: none;
    -webkit-user-select: none;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-weight: 500;
    margin-top: 2px;
    padding-right: 10px;
    text-align: end;
}

/* HEADER CHECKBOX FILTER */

.header-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sme{
    margin-right: 5px;
    font-size: 1.2rem;
    user-select: none;
    -webkit-user-select: none;
}

.filter-checked {
    background-color: rgb(229, 235, 235) !important;
    color: #304755 !important;
}

.check {
    border-radius: 5px;
    background-color: rgb(75, 85, 100);
    color: rgb(231, 235, 238);
    padding: 2px 7px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}


/* CHAPTERS CONTAINER */

.chapter-container{
    margin-top: 5rem;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    
}

.backImage {
    height: 290px;
    width: 450px;
    position: absolute;
    z-index: -1;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: 75% 25%;
}

.chapter-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    height: 300px;
    width: 450px;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 2rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0px solid rgba(15, 28, 46, 0.692);
}

.chapter-link:hover{
    transform: scale(1.02);
}

.chapter-number{
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(15, 28, 46, 0.692);
    padding: 9px 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.chapter-title{
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(15, 28, 46, 0.678);
    padding: 9px 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.chapter-description{
    display: none;
}

.chapter-link:hover .chapter-description{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: rgba(15, 28, 46, 0.623);
    color: rgb(255, 255, 255);
    font-size: 1.1rem;  
    font-weight: 500;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aall-link{
    width: 100%;
    color: rgb(171, 224, 255);
    position: absolute;
    bottom: 4px;
    right: 4px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.color-link:hover, .nb-link:hover{
    color: rgb(255, 255, 255);
}

.color-link, .nb-link {
    font-size: 1.2rem;
    color: rgb(171, 224, 255);
    display: flex;
    flex-direction: column;
}

.nb-link{
    margin-top: 5px;
}