* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: #55738f;
    color: rgb(252, 252, 252);
}

*::-moz-selection {
    background-color: #55738f;
    color: rgb(252, 252, 252);
}

*::-webkit-selection {
    background-color: #55738f;
    color: rgb(252, 252, 252);
}

*::-webkit-scrollbar {
    width: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.rem;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(75, 85, 100);
    border: 1px solid rgb(41, 47, 55);
    border-radius: 0.1rem;
    height: 50px;
}
/* Don't work on Firefox */

body {
    color: white;
    background-color: #ebebeb;
    font-family: 'Rubik', serif;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
}



/* HEADER----------------------------------------------------------  */

.header-container{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 90px;
    background: linear-gradient(90deg, rgba(46, 67, 87, 0.678) 0%, rgba(53, 89, 94, 0.678) 100%);
    display: flex;
    padding: 10px 50px;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 1px solid rgb(255, 255, 255);
}

/* HEADER SEARCH----------------------------------------------------------  */

.header-search{
    padding-top: 3px;
}

.reverse-back{
    margin-left: 3px;
    border-radius: 0.5rem;
    background-color: rgb(75, 85, 100);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reverse-checked{
    background-color: rgb(230, 230, 230) !important;
}

.reverse-checked:hover{
    background-color: rgb(247, 247, 247) !important;
}

.reverse-checked .button-reverse{
    filter: invert(22%) sepia(11%) saturate(1597%) hue-rotate(159deg) brightness(98%) contrast(86%) !important;
}

.buttons-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button-reverse{
    transition: all 0.2s ease-in-out;
    width: 47px;
    height: 47px;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    filter: invert(100%) sepia(1%) saturate(6313%) hue-rotate(173deg) brightness(95%) contrast(96%);

}

.cont-searchbar{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.searchbar {
    width: 500px;
    height: 50px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.searchbar:focus {
    border: 3px solid #3e5766;
}

.searchbar:focus::placeholder  {
    color: rgb(187, 187, 187);
}

.nb-result{
    -webkit-user-select: none;
    user-select: none;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-weight: 500;
    margin-top: 2px;
    padding-right: 10px;
    text-align: end;
}

/* HEADER CHECKBOX FILTER----------------------------------------------------------  */

.header-checkbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sme{
    margin-right: 5px;
    font-size: 1.2rem;
    -webkit-user-select: none;
    user-select: none;

}

.filter-checked {
    background-color: rgb(229, 235, 235) !important;
    color: #304755 !important;
}

.filter-checked:hover {
    background-color: rgb(248, 248, 248) !important;
}

.check {
    border-radius: 5px;
    background-color: rgb(75, 85, 100);
    color: rgb(231, 235, 238);
    padding: 2px 7px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}


/* HEADER TOME----------------------------------------------------------  */

.header-tome-tri-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    -webkit-user-select: none;
    user-select: none;
}

.arc-checked .arrow-down{
    rotate: 180deg;
    transition: all 0.2s ease-in-out;
}

.header-tome-tri{
    cursor: pointer;
}
.header-tome-tri:hover{
    color: rgb(231, 231, 231);
}
.header-tome-tri:hover .arrow-down{
    filter: invert(90%);
}

.arrow-down{
    position: relative;
    top: 5px;
    height: 23px;
    width: auto;
    object-fit: cover;
    filter: invert(100%);
    transition: all 0.2s ease-in-out;
}

/* HEADER TOME SELECT---------------------------------------------------------- */


.tome-select-container{
    border-left: white 1px solid;
    border-top: white 1px solid;
    -webkit-user-select: none;
    user-select: none;
    width: 380px;
    height: 0;
    position: absolute;
    top: 89px;
    right: 12px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.liste-tome{
    width: 100%;
    height: 100%;
    background: linear-gradient(20deg, rgba(46, 67, 87, 0.678) 0%, rgba(53, 89, 94, 0.678) 100%);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.5rem;
    padding: 10px 10px 50px 10px;
}


.liste-tome li{
    display: flex;
    list-style: none;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .05s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 20px;
    background-color: rgba(236, 239, 241, 0.903);
    color: #304755;
    margin-top: 20px;
}

.liste-tome li:hover{
    background-color: rgba(255, 255, 255, 0.96);
}

/* CHAPTERS CONTAINER------------------------------------------------------- */

.chapter-container{
    -webkit-user-select: none;
    user-select: none;
    margin-top: 5rem;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    
}

.backImage {
    height: 290px;
    width: 450px;
    position: absolute;
    z-index: -1;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: 50% 50%;
    scale: 0.998;
}

.chapter-link{
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    height: 300px;
    width: 450px;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0px solid rgba(15, 28, 46, 0.692);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.chapter-link:hover{
    transform: scale(1.02);
}

.chapter-number{
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(15, 28, 46, 0.692);
    padding: 9px 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.chapter-title{
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(15, 28, 46, 0.678);
    padding: 9px 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.chapter-description{
    display: none;
}

.chapter-link:hover .chapter-description{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: rgba(15, 28, 46, 0.623);
    color: rgb(255, 255, 255);
    font-size: 1.1rem;  
    font-weight: 500;
    padding: 1rem;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aall-link{
    width: 100%;
    color: rgb(171, 224, 255);
    position: absolute;
    bottom: 4px;
    right: 4px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.color-link:hover, .nb-link:hover{
    color: rgb(255, 255, 255);
}

.color-link, .nb-link {
    font-size: 1.2rem;
    color: rgb(171, 224, 255);
    display: flex;
    flex-direction: column;
}

.nb-link{
    margin-top: 5px;
}

.main-container{
    min-height: calc(100vh - 116px);
    display: flex;
    justify-content: flex-end;
}

.iframe-container{
    position: fixed;
    right: left;
    top: 0;
    left:0;
    height:100%;
    min-width: 450px;
    width: auto;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: end;
    resize: both;
    overflow: auto;
}

.iframe-chap{
    width: 100%;
    height: calc(100vh);
    border: none;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
}


.close-iframe{
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    position: absolute;
    top: 120px;
    right: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.486);
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 21;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(199, 222, 255, 0.678);
    border: white 2px solid;
    transition: all 0.1s ease-in-out;
}

.close-iframe-img{
    height: 20px;
    width: 20px;
    filter: invert(10%);
}

.close-iframe:hover{
    border: rgba(141, 141, 141, 0.486) 2px solid;
    background-color: rgba(86, 100, 119, 0.411);
}

.close-iframe:hover .close-iframe-img{
    filter: invert(50%);
}

/* MORE INFO MENU --------------------------------------------------*/

.more-info-container{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 10;
}

.more-info-button{
    height: 30px;
    width: 30px;
    font-family: 'Noto Serif', serif;
    border-radius: 10px;
    border: #d5d6d6 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #d5d6d6;
}

.more-info-button:hover{
    background-color: #5064708c;
    border: #e9eef28c 2px solid;
}

.more-info-tab{
    top: 50px;
    position: absolute;
    height: 190px;
    width: 400px;
    background-color: #454b59cc;
    padding: 1rem;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: #d5d6d6 1px solid;
    z-index: 10000;
    font-size: .95rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    text-align:justify;
    align-items: flex-start;
}

.more-info-tab *{
    color: #d5d6d6;
}