html{
    background-color: #f8f8f8;
    overflow-x: hidden;
    width: 100vw;
}

.night-html {
    background-color: #1f242d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: #55738f;
    color: rgb(252, 252, 252);
}

*::-moz-selection {
    background-color: #55738f;
    color: rgb(252, 252, 252);
}

*::-webkit-selection {
    background-color: #55738f;
    color: rgb(252, 252, 252);
}

*::-webkit-scrollbar {
    width: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.rem;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(75, 85, 100);
    border: 1px solid rgb(41, 47, 55);
    border-radius: 0.1rem;
    height: 50px;
}
/* Don't work on Firefox */

body {
    color: white;
    background: linear-gradient(200deg, #ebebeb, #ffff);
    font-family: 'Rubik', serif;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
    transition: all 0.1s ease-in-out;
}

.night {
    background: linear-gradient(200deg, #1f242d, #0a0d0e);
}



/* HEADER----------------------------------------------------------  */

.header-container{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 90px;
    background: linear-gradient(90deg, rgba(46, 67, 87, 0.678) 0%,  rgba(53, 89, 94, 0.678) 100%);
    display: flex;
    padding: 10px 50px;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 1px solid rgb(255, 255, 255);
}

/* HEADER SEARCH----------------------------------------------------------  */

.header-battery{
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 0;
    height: 50px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292e38b6;
}

.header-battery-active{
    background-color: #cfd9f0ce;
}

.header-battery-active:hover{
    background-color: #cfd9f0eb !important;
}

.battery-image-active{
    filter: invert(20%) !important;
}

.header-battery:hover{
    background-color: #292e38;
}

.image-battery{
    cursor: pointer;
    width: 50px;
    object-fit: cover;
    filter: invert(100%) sepia(1%) saturate(6313%) hue-rotate(173deg) brightness(95%) contrast(96%);
}

.header-search{
    padding-top: 3px;
}

.reverse-back{
    margin-left: 3px;
    border-radius: 0.5rem;
    background-color: rgb(75, 85, 100);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reverse-checked{
    background-color: rgb(230, 230, 230) !important;
}

.reverse-checked:hover{
    background-color: rgb(247, 247, 247) !important;
}

.reverse-checked .button-reverse{
    filter: invert(22%) sepia(11%) saturate(1597%) hue-rotate(159deg) brightness(98%) contrast(86%) !important;
}

.buttons-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button-reverse{
    transition: all 0.2s ease-in-out;
    width: 47px;
    height: 47px;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    filter: invert(100%) sepia(1%) saturate(6313%) hue-rotate(173deg) brightness(95%) contrast(96%);

}

.cont-searchbar{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.searchbar {
    width: 420px;
    height: 50px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}



.searchbar:focus::placeholder  {
    color: rgb(255, 255, 255);
}
.searchbar:focus .croix-search{
    background-color: rgb(255, 255, 255);
    color: rgb(247, 247, 247);
}

.nb-result{
    -webkit-user-select: none;
    user-select: none;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-weight: 500;
    margin-top: 2px;
    padding-right: 10px;
    text-align: end;
}

.croix-search{
    height: 50px;
    width: 50px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(34, 38, 41);
    background-color: rgb(255, 255, 255);
    cursor: text;
}
.croix-croix{
    cursor: pointer;
    font-size: 1.3rem;
    display: none;
}

/* HEADER CHECKBOX FILTER----------------------------------------------------------  */

.header-checkbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sme{
    margin-right: 5px;
    font-size: 1.1rem;
    -webkit-user-select: none;
    user-select: none;

}

.filter-checked {
    background-color: rgb(229, 235, 235) !important;
    color: #304755 !important;
}

.filter-checked:hover {
    background-color: rgb(248, 248, 248) !important;
}

.check {
    border-radius: 5px;
    background-color: rgb(75, 85, 100);
    color: rgb(231, 235, 238);
    padding: 2px 7px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}


.header-battery{
    display: none;
}

/* HEADER TOME----------------------------------------------------------  */

.header-tome-tri-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    -webkit-user-select: none;
    user-select: none;
}

.arc-checked .arrow-down{
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}

.header-tome-tri{
    cursor: pointer;
}
.header-tome-tri:hover{
    color: rgb(231, 231, 231);
}
.header-tome-tri:hover .arrow-down{
    filter: invert(90%);
}

.header-tome-tri-pc{
    margin-right: 40px;
}

.arrow-down{
    position: relative;
    top: 5px;
    height: 23px;
    width: auto;
    object-fit: cover;
    filter: invert(100%);
    transition: all 0.2s ease-in-out;
}

/* HEADER TOME SELECT---------------------------------------------------------- */


.tome-select-container{
    padding: 0 !important;
    border-left: white 1px solid;
    border-top: white 1px solid;
    -webkit-user-select: none;
    user-select: none;
    width: 380px;
    height: 0;
    position: absolute;
    top: 89px;
    right: 12px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.liste-tome{
    width: 100%;
    height: 100%;
    background: linear-gradient(20deg, rgba(46, 67, 87, 0.678) 0%, rgba(53, 89, 94, 0.678) 100%);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.5rem;
    padding: 10px 10px 50px 10px;
}


.liste-tome li{
    display: flex;
    list-style: none;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .05s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 20px;
    background-color: rgba(236, 239, 241, 0.903);
    color: #304755;
    margin-top: 20px;
}

.liste-tome li:hover{
    background-color: rgba(255, 255, 255, 0.96);
}

/* CHAPTERS CONTAINER------------------------------------------------------- */

.chapter-container{
    -webkit-user-select: none;
    user-select: none;
    margin-top: 5rem;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    
}

.backImage {
    height: 290px;
    width: 450px;
    position: absolute;
    z-index: -1;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: 50% 50%;
    transform: scale(0.998);
}

.chapter-link{
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    height: 300px;
    width: 450px;
    z-index: 1;
    overflow: hidden;
    margin: 0rem 0.8rem 2rem 0.8rem;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0px solid rgba(15, 28, 46, 0.692);
    /* box-shadow: 0px 0px 2px 2px rgba(172, 223, 255, 0.459); */
    box-shadow: 10px 10px 0px -5px #d7dbdf;
}

.chapter-link, .chapter-link *{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.chapter-link:hover{
    transform: scale(1.02);
}

.chapter-number{
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(15, 28, 46, 0.692);
    padding: 9px 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.chapter-title{
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(15, 28, 46, 0.678);
    padding: 9px 5px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


.chapter-description{
    display: none;
}

.chapter-link:hover .chapter-description{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(15, 28, 46, 0.623);
    color: rgb(255, 255, 255);
    font-size: 1.1rem;  
    font-weight: 500;
    padding: 1rem;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aall-link{
    width: 100%;
    color: rgb(171, 224, 255);
    position: absolute;
    bottom: 4px;
    right: 4px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.color-link:hover, .nb-link:hover{
    color: rgb(255, 255, 255);
}

.color-link, .nb-link {
    font-size: 1.2rem;
    color: rgb(171, 224, 255);
    display: flex;
    flex-direction: column;
}

.nb-link{
    margin-top: 5px;
}

.main-container{
    min-height: calc(100vh - 116px);
    display: flex;
    justify-content: flex-end;
}

.iframe-container{
    position: fixed;
    right: left;
    top: 0;
    left:0;
    height:100%;
    min-width: 450px;
    max-width : 99vw;
    width: auto;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: end;
    resize: both;
    overflow: auto;
}

.iframe-chap{
    width: 100%;
    height: calc(100vh);
    border: none;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
}


.close-iframe{
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    position: absolute;
    top: 120px;
    right: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.486);
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 21;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(35, 53, 80, 0.678);
    border: white 2px solid;
    transition: all 0.1s ease-in-out;
}

.close-iframe-img{
    height: 20px;
    width: 20px;
    filter: invert(100%);
}

.close-iframe:hover{
    border: rgba(141, 141, 141, 0.486) 2px solid;
    background-color: rgba(86, 100, 119, 0.411);
}

.close-iframe:hover .close-iframe-img{
    filter: invert(50%);
}

.arrows-iframe{
    position:absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: calc(100px + .4rem);
    padding: 0.2rem;
    background-color: rgba(255, 255, 255, 0.557);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 2px;
    border: #304755 2px solid;
}

.arrow-tri{
    width: 50px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: filter 0.1s ease-in-out;
    filter: invert(22%) sepia(11%) saturate(1597%) hue-rotate(159deg) brightness(98%) contrast(86%) !important;
}

.arrow-tri:hover{
    filter: invert(15%) sepia(0%) saturate(749%) hue-rotate(0deg) brightness(100%) contrast(100%) !important;
}

.arrow-suivant{
    transform: rotate(180deg);
}

.full-screen-iframe{
    position: absolute;
    
}

.full-screen-icon{
    filter: invert(100%);
    height: 50px;
    border-radius: 10px;
    background-color: rgba(228, 173, 145, 0.678);
    width: 50px;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #d5d6d6;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.iframe-fullscreen{
    z-index: 2000;
    width: 90vw !important;
}


/* MORE INFO MENU --------------------------------------------------*/

.more-info-container{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
}

.micperso {
    right: 0 !important;
    display: flex;
    justify-content: flex-end;
}

.micperso *::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(46, 53, 66);
    border-radius: 0.rem;
}

.micperso *::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    max-height: 100px;
}

.info-i{
    height: 20px;
    width: 20px;
    font-family: 'Noto Serif', serif;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: auto;
    color: #d5d6d6;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.more-info-button{
    height: 30px;
    width: 30px;
    font-family: 'Noto Serif', serif;
    border-radius: 10px;
    border: #d5d6d6 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #d5d6d6;
}

.mibperso {
    border: #323232 2px solid;
    border-radius: 10px;
    filter: invert(1);
    height: 40px;
    width: 40px;
    object-fit: cover;
    padding: 0.3rem;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer !important;
}

.more-info-button:hover{
    background-color: #5064708c;
    border: #e9eef28c 2px solid;
}

.mibperso:hover{
    border: #3939398c 2px solid;
    background-color: #dac4b5;
    filter: invert(90%);
}

.more-info-tab{
    top: 50px;
    position: absolute;
    height: 190px;
    width: 400px;
    background-color: #454b59cc;
    padding: 1rem;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: #d5d6d6 1px solid;
    z-index: 10000;
    font-size: .95rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    text-align:justify;
    align-items: flex-start;
}

.mitperso{
    background-color: #2f343fcc;
    border: #ccdcdc 1px solid;
    border-radius: 10px;
    width: 380px;
    height: 230px;
    overflow: auto;
    transition: all 0.2s ease-in-out;
}

.mitactive{
    height: 40px;
    width: 40px;
    overflow: hidden;
    border: none;
    color: rgba(255, 255, 255, 0);
}

.mitperso * {
    -moz-user-select :text;
    -webkit-user-select: text;
    user-select: text;
    cursor: auto;
}

.more-info-tab *{
    color: #d5d6d6;
}

.listPerso {
    height: auto;
    width: 100%;
    padding: 1rem 2rem;
    white-space: nowrap;
}
.listPerso li {
    text-align: start;
}


/* RESPONSIVE -°-°-°-°-°-°-°-°-°°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-°-° */

@media screen and (max-width: 1250px){
    *{
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .full-screen-icon{
        display: none;
    }
    .header-search{
        width: 700px;
    }
    .searchbar{
        width: 400px;
    }
    .reverse-back{
        padding: none;

    }
    .button-reverse{
        height: 40px;
        width: 40px;
    }
    .sme{
        font-size: 1.1rem !important;
    }
}

@media screen and (max-width: 1000px){
    .sme{
        font-size: 1.1rem !important;
    }
    .sous-search{
        font-size: .9rem;
        bottom: 3px;
        left: 5px !important;
    }
    *{
        font-size: 1rem;
        max-width: 100vw;
    }
    body{
        width: 100vw;
        overflow-x: hidden !important;
    }
    
    .searchbar{
        margin-top: 5px;
        width: 300px;
        height: 40px;
        font-size: .9rem;
    }

    .croix-search{
        height: 40px;
        width: 40px;
        margin-top: 5px;
    }

    .searchbar::placeholder{
        font-size: .9rem;
        justify-self: center;
    }
    .searchbar:focus::placeholder{
        color: transparent;
    }
    .nb-result{
        padding-right: 20px;
        width: 300px;
    }
    .header-checkbox *{
        margin-top: 5px;
        font-size: 1rem;
    }
    .reverse-back{
        padding: none;
        margin: 2px;

    }
    .button-reverse{
        height: 40px;
        width: 40px;
    }
    .iframe-container{
        min-width: none;
        width: 100vw;
        height: auto;
        z-index: 2000;
        overflow: hidden;
        resize: none;
    }
    .iframe-chap{
        width: 100vw;
        height: 100vh;
    }

}

@media screen and (max-width: 850px){
    .sme{
        font-size: 1.1rem !important;
    }
    .sous-search{
        display: none;
    }
    .liste-tome{
        padding-bottom: 100px;
    }
    .chapter-container{
        padding: 50px 0px 10px 0 !important;
    }

    .tel-filter-container{
        display: flex !important;
    }

    .backupannonce{
        display: none;
    }
    .note-backup{
        display: none;
    }
    .header-tome-tri-pc{
        display: none !important;
    }
    .tome-select-container{
        border: none;
        width: 100vw;
        right: 0;
        top: 140px;
    }
    .liste-tome *{
        font-size: 1.3rem !important;
    }
    .searchbar{
        margin-top: 5px;
        width: calc(100vw - 200px);
        height: 50px;
        font-size: 1rem;
    }
    .searchbar::placeholder{
        font-size: 1rem;
        justify-self: center;
    }
    .croix-search{
        height: 50px;
        width: 30px;
        margin-top: 5px;
    }
    .reverse-back{
        display: none;
    }
    .button-reverse{
        height: 50px;
        width: 50px;
    }
    .info-beta{
        margin-top: 5px;
    }
    .nb-result{
        display: none;
    }
    .tri-par{
        display: none;
    }
    .header-checkbox{
        display: none;
    }
    .iframe-container{
        display: none !important;
    }
    .more-info-tab{
        max-width: 300px;
    }

    .tel-filter-container{
        display: flex;
    }

    .rb-mobile, .br-mobile{
        display:flex;
        height: 40px;
        width: 40px;
    }
}


@media screen and (max-width: 450px){
    .header-tome-tri-pc{
        display: none !important;
    }
    .info-beta{
        left: -7px !important;
    }
    .header-container{
        padding-left: 20px;
    }
    .searchbar{
        width: 80%;
        height: 50px;
    }
    .reverse-back{
        display: none;
    }
    .chapter-link{
        width: calc(100vh - 50px);
    }
    .backImage{
        width: calc(100vh - 50px);
    }
    .chapter-container{
        overflow: hidden;
    }
    .rb-mobile, .br-mobile{
        display:flex;
        height: 40px;
        width: 40px;
    }
}

.backupannonce{
    position: fixed;
    top: .5px;
    left: 80px;
    z-index: 2000;
    opacity: 0.8;
    font-size: 0.6rem;
}

.note-backup{
    margin-top: 13px;
    font-size: .7rem;
}

.info-beta{
    font-size: 1rem;
    top: 29px;
    left: 18px;
    transform: rotate(270deg);
    position: fixed;
    z-index: 2000;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
}

.backupannonce *{
    font-size: .7rem !important;
}
.note-backup *{
    font-size: .7rem !important;
}


/* ---------------- TEL FILTER ----------------------------------------- */

.tel-filter-container{
    border-bottom: white solid 1px;
    display: none;
    position: fixed;
    top: 89px;
    width: 100vw;
    z-index: 1000;
    align-items: center;
    height: 0;
    background: linear-gradient(90deg, rgba(46, 67, 87, 0.774) 0%,  rgba(53, 89, 94, 0.767) 100%);
}

.tel-filter-container * {
    transition: all 0.2s ease-in-out;
}

.rb-mobile{
    position: absolute;
    right: 65px;
    width: 75px;
    background-color: #192b31d0;
}

.tel-filter{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.htt-tel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.htt-tel span{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.ad-tel{
    top: 1px;
}

.arrow-tel-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -18px;
    right: 30px;
    height: 35px;
    filter: invert(1);
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(231, 178, 171);
    border: rgb(0, 0, 0) solid .5px;
}

.go-to-other {
    text-decoration: none;
    position: absolute;
    left: 5px;
    width: 30%;
}

.sous-search{
    text-decoration: none;
    position: absolute;
    bottom: 3px;
    left: 50px;
}