.jeu1 *::-webkit-selection {
    background-color: #000000;
    color: rgb(252, 252, 252);
}

.jeu1 *::-webkit-scrollbar {
    width: 10px;
    background-color: #3f3f3f;
}

.jeu1 *::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    height: 91.5px;
    cursor: pointer !important;
}

.jeu1 *::-webkit-scrollbar-thumb:hover {
    background-color: rgb(81, 81, 81);
}

.jeu1 *::selection {
    background-color: rgba(0, 0, 0, 0.498);
    color: rgba(255, 255, 255, 0.804);
}

.jeu-body, .jeu-body.night{
    background: none;
}

.videojeuback{
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1.12);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.3) blur(2px);
    z-index: -10000000000;
}

.luffyg5video{
    filter: brightness(0.3);
}

.creditArtist{
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 0.8rem;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    z-index: 1;
}

/* JEU MAIN */

.jeu1-main{
    width: 100vw;
    min-height: 80vh;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.jeu1-container{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.jeu1-main h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}
.jeu1-main p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    margin-bottom: 1rem;
}

.horizontalLine{
    width: 75%;
    height: 1px;
    background-color: white;
    margin: 2rem;
}

.recherche-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.recherchePerso{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#inputPerso{
    padding-top: 2px;
    width: 70%;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.952);
}

#inputPerso::selection{
    background-color: rgba(0, 0, 0, 0.881);
    color: rgba(255, 255, 255, 0.804);
}

#inputPerso::placeholder{
    color: rgba(0, 0, 0, 0.811);
    font-size: 1.2rem;
    font-weight: 200;
}

#inputPerso:focus{
    background-color: rgba(255, 255, 255);
}
#inputPerso:hover{
    background-color: rgba(255, 255, 255);
}
#inputPerso:focus::placeholder{
    opacity: 0;
}

.suggestion-perso {
    display: none;
    border: 5px solid rgba(255, 255, 255);
    background-color: rgb(255, 255, 255);
    max-height: 250px;
    position: absolute;
    top: 260px;
    width: 63%;
    border-radius: 10px;
    overflow-y: scroll;
    resize: vertical;
    z-index: 30;
}

.suggestion-perso.show {
    display: block;
}

.suggImSpan{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgSuggPerso{
    object-fit: cover;
    width: 35px;
    height: 35px;
    border-radius: 20%;
    margin-right: 1rem;
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
}

.suggestion-perso li {
    padding: 5px 15px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    margin-bottom: 2px;
    font-weight: 100;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion-perso li:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.suggestion-perso * {
    text-decoration: none;
    list-style: none;
}

.suggestion-perso a{
    height: 100%;
    color: rgb(51, 51, 51);
    cursor: help;
    padding: 0px 5px;
}

/* TEST PERSO -------------------------------------------------------- */

.test-container {
    z-index: -1;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-perso-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 0;
}

.test-perso-container:last-child{
    margin-bottom: 50vh;
}

.test-perso-container span {
    width: 12%;
    min-height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.testPersoImg {
    width: 110px; 
    height: 110px;
    object-fit: cover;
    border-radius: 3px;
}

.testPersoTrue{
    background-color: rgba(255, 255, 255) !important;
    color: rgb(13, 13, 13) !important;
    font-weight: 500 !important;
}

.testPersoFalse{
    background-color: rgba(0, 0, 0, 0.382) !important;
}

.estPlusPetit::after {
    position: absolute;
    content: "▼";
    color: rgba(255, 255, 255, 0.334);
    font-size: 5rem;
    font-weight: 100;
}

.estPlusGrand::after {
    position: absolute;
    content: "▲";
    color: rgba(255, 255, 255, 0.334);
    font-size: 5rem;
    font-weight: 100;
}

.legende-test{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
    padding: 0 20px;
}

.legende-test div{
    width: 110px;
}

.legende-test span{
    text-align: center;
    font-size: 1.1rem;
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linehori{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255);
    margin-top: 10px;
}

.marginBot{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #474747;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .jeu1-container{
        width: 90%;
        height: 200px;
    }
    .jeu1-main{
        margin-top: 50px;
    }
    .recherche-container{
        height: 0px;
    }
    .creditArtist a{
        font-size: 0.8rem;
    }
    .suggestion-perso, .suggestion-perso *{
        z-index: 1000;
        top: -10px;
        resize: none;
    }
    .suggestion-perso {
        height: 190px;
    }
    .imgSuggPerso{
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 478px) {
    .suggestion-perso {
        height: 190px;
        top: 10px;
        width: 80%;
        resize: none;
    }
    #inputPerso{
        width: 100%;
    }
}