.linkapropos{
    color: rgba(255, 255, 255, 0.718) !important;
    font-size: 1.2rem;
}
.linkapropos:hover{
    color: #fff !important;
}

.linkapropos.active {
    color: #fff !important;

}

.menu-icon{
    position: fixed;
    top: 35px;
    right: 30px;
    filter: invert(0);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    z-index: 1000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu-icon-night{
    filter: invert(1) !important;
}

.menu-icon:hover{
    transform: scale(1.1);
}

.menu-container{
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    border-top-right-radius: 0;
    border-radius: 0 0 0 100%;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    background-color: rgba(35, 37, 41, 0.764);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: all 0.1s ease-in-out;
    overflow: hidden;
}

.menu-container *{
    list-style: none;
    text-align: center;
}

.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none
     !important;
}


.menu-center{
    font-size: 2rem;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu-center *{
    transition: all .10s ease-in-out;

}

.imgmenucenter{
    height: 160px;
    width: 230px;
    object-fit: cover;
    border-radius: 20px;
    opacity: .9;
    filter: saturate(.7);
}

.spanmenucenter {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.572);
}

.spmcactive{
    color: white;
}

.menu-item:hover .spanmenucenter{
    color: #ebebebe7;
}

.immcactive {
    filter: saturate(1);
    opacity: 1;
}

.menu-item:hover{
    transform:scale(1.05);
}

.menu-item.active .spanmenucenter{
    color: #fcfcfce7 !important;}

.menu-item.active .imgmenucenter, .immcjeu.active{
    filter: saturate(1);
    opacity: 1;
    scale: 1.05;
}

.menu-item:hover .imgmenucenter{
    animation: colorChange2 5s infinite alternate;
    filter: saturate(1);
    opacity: 1;
    border-radius: 10px;
}

.menu-foot{
    position: absolute;
    width: 100vw;
    height: 100px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

.menu-c-o{
    width: 100vw !important;
    position: absolute !important;
    bottom: 10px !important;
}

.menu-c-w{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: .9rem;
}

.mitemjeu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mitemjeu *{
    text-decoration: none;
}

.spmcjeu{
    color: white !important;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-style: oblique;
}

.immcjeu {
    transition: all .10s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.opfanpage.com/wp-content/uploads/2021/10/Chapter_1028-1024x747.png");
    background-size: 120% auto;
    background-position: -60px -90px;
    height: 100px;
    width: 500px;
    border-radius: 20px;
    filter: saturate(.7);
}

.immcjeu:hover {
    filter: saturate(1);
    opacity: 1;
    border-radius: 10px;
    animation: colorChange1 1.2s infinite alternate;
}

.immcjeu:hover .jeuOPonImg{
    opacity: 1;
}

.jeuOPonImg {
    opacity: 1;
    transition: all .1s ease-in-out;
    font-size: 1.5rem;
    padding: 10px;
    margin: 0;
    color: #fff !important;
    background-color: rgba(28, 28, 223, 0.541);
    border-radius: 10px;
    animation: hueChange .8s infinite alternate;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}


@media screen and (max-width: 1000px) {
    .linkapropos{
        font-size: .9rem !important;
    }
    .menu-c-o{
        bottom: 100px !important;
    }
    .menu-container *{
        font-size: 1.5rem ;
    }
    .menu-c-o{
        font-size: 1.2rem !important;
        text-align: center;
    }
    .menu-c-w *, .menu-c-w{
        font-size: 1rem !important;
        text-align: center;
    }
}

@media screen and (max-width: 450px){

    .menu-icon{
        right: 10px;
    }
}

@media screen and (max-width: 750px){
    .mitemjeu:hover{
        transform:scale(1.05);
    }
    .mitemjeu{
        margin-top: 100px;
    }
    .menu-center{
        margin-top: 40px;
    }
    .menu-center{
        margin-bottom: 100px;
        flex-direction: column;
        justify-content: space-around;
    }
    .spmcjeu{
        display: none;
    }
    .imgmenucenter, .immcjeu{
        height: 100px;
        width: 300px;
        filter: saturate(0) brightness(.6)
        opacity(.7)
    }
    .spanmenucenter{
        position: absolute;
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
    }
    .linkapropos{
        font-size: .9rem !important;
        margin-bottom: 100px;
    }
}

@keyframes colorChange1 {
    0% {
        box-shadow: 0 0 20px rgba(63, 191, 127, 0.8), 0 0 10px #ffcc00, 0 0 30px #3498db;
    }
    25% {
        box-shadow: 0 0 20px #ffcc00, 0 0 10px #3498db, 0 0 30px rgba(63, 191, 127, 0.8);
    }
    50% {
        box-shadow: 0 0 20px #3498db, 0 0 10px rgba(63, 191, 127, 0.8), 0 0 30px #ffcc00;
    }
    75% {
        box-shadow: 0 0 20px rgba(255, 129, 129, 0.8), 0 0 10px #00ff00, 0 0 30px #3939ff;
    }
    100% {
        box-shadow: 0 0 20px #5050c7, 0 0 10px rgba(255, 71, 71, 0.8), 0 0 30px #00ff00;
    }
}

@keyframes colorChange2 {
    0% {
        box-shadow: 0 0 20px rgba(255, 0, 150, 0.8), 0 0 10px #00ffcc, 0 0 30px #ff9900;
    }
    25% {
        box-shadow: 0 0 20px #ff9900, 0 0 10px #ff00cc, 0 0 30px rgba(255, 0, 150, 0.8);
    }
    50% {
        box-shadow: 0 0 20px #ff00cc, 0 0 10px rgba(255, 0, 150, 0.8), 0 0 30px #ff9900;
    }
    75% {
        box-shadow: 0 0 20px rgba(0, 150, 255, 0.8), 0 0 10px #ffcc00, 0 0 30px #00ccff;
    }
    100% {
        box-shadow: 0 0 20px #00ccff, 0 0 10px rgba(0, 150, 255, 0.8), 0 0 30px #ffcc00;
    }
}

@keyframes backgroundColorChange {
    0% {
        background-color: rgba(45, 94, 70, 0.747);
    }
    25% {
        background-color: rgba(90, 41, 21, 0.723);
    }
    50% {
        background-color: #244d68bd;
    }
    75% {
        background-color: rgba(104, 29, 48, 0.747);
    }
    100% {
        background-color: #1d1d58b2;
    }
}

@keyframes hueChange {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
