/* if body contain class night : */
body:not(.night) .road-to-piece h1, body:not(.night) .rtp-text, body:not(.night) .rtp-saga-title, body:not(.night) .youngcap{
    color: #000;
}

body:not(.night) .road-to-piece .menu-icon{
    filter: invert(0) !important;
}

.rtp-presentation{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rtp-presentation h1{
    font-size: 8rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;

}

.road-to-piece-container{
    margin-top: 100px;
}

.rtp-arc-container{
    scroll-behavior: smooth;
    scroll-padding: 100px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.rtp-arc-container * {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.rtp-saga-title{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}

.rtp-presentation-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
    filter: brightness(0.5) blur(5px);
}

.rtp-arc-list-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rtp-arc-list{
    width: 100vw !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rtp-li{
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    box-shadow: 0 0 0px 2px #000000;
    align-items: center;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.rtp-li:hover .rtp-arc-img{
    opacity: 1;
    transform: scale(.95);
    transition: all .1s ease-in-out;
}

.rtp-li .rtp-arc-img{
    transition: all .1s ease-in-out;
}

.rtp-arc-img{
    object-fit: cover;
    opacity: .8;
    width: 400px;
    height: 400px;
}

.cred-auteur-span{
    background: none !important;
}

.rtp-auteur{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: end;
}

.rtp-li, .rtp-auteur {
    width: 300px;
    height: 300px;
}

.rtp-auteur span{
    background-color: rgba(0, 0, 0, 0.546);
    padding: 7px;
}

.popup-image{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: 100000000000000000000000000000000000000;
}

.popup-image-img{
    height: 90vh;
    max-width: 90vw;
    width: auto;
    object-fit: cover;
    border-radius: 5px;
}

.popup-image-close{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 1.5rem;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.524);
    padding: 20px;
    color: #fff;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.rtp-som-contcont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.rtp-som-contcont h1{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}

.rtp-sommaire-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.rtp-sommaire-container * {
    transition: all .1s ease-in-out;
}

.rtp-sommaire{
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 1px 1px 0px 2px #000000;
}

.rtp-sommaire:hover .img-sommaire{
    opacity: .8;
    transition: all .1s ease-in-out;
}

.rtp-sommaire:active {
    transform: scale(.95);
}

.link-sommaire {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    text-wrap: wrap;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    outline: none !important;
    position: absolute;
    z-index: 1;
}

.img-sommaire{
    object-fit: cover;
    border-radius: 10px;
    opacity: .6;
}


.img-sommaire, .link-sommaire, .rtp-sommaire{
    width: 150px;
    height: 150px;
}

.remerciementYoen{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;


}

@media screen and (max-width: 668px){

    *{
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .cred-auteur a{
        font-size: 1rem;
    }

    .rtp-arc-img{
        width: 300px;
        height: 300px;
    }

    .rtp-li, .rtp-auteur {
        width: 40vw;
        height: 200px;
    }

    .popup-image-img{
        height: auto;
        max-height: 90vh;
        max-width: 90vw;
    }

    .rtp-sommaire-container{
        width: 100%;
    }

    .rtp-sommaire{
        margin: 10px;
    }

    .rtp-sommaire, .link-sommaire, .img-sommaire{
        width: 25vw;
        height: 100px;
    }

}